@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Anek Telugu', sans-serif; */
}

.rating_box {
    background: linear-gradient(rgb(13, 13, 26), rgb(14, 14, 24));
    width: 400px !important;
    height: fit-content !important;
    border-radius: 20px;
}

.start_main_container {
    width: 45px;
    height: 45px;
    padding: 13px;
}

.btn-warning {
    background: hsl(25, 97%, 53%);
    border-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    color: white;
}

.btn-warning:hover {
    background: white;
    border-color: white;
    color: hsl(25, 97%, 53%);
}

.appric_text {
    color: hsl(25, 97%, 53%) !important;
    border-radius: 50px;
}